:root {
  --color-grey: #d1d1d1;
  --color-grey-light: #f0f0f0;
  --color-grey-dark: #838383;
  --color-blue: #001283;
  --color-white: white;

  --color-text: #0f0f0f;
  --color-text-light: #606060;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-size: 0.94rem;
}

body * {
  color: var(--color-text);
  white-space: pre-wrap;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
